<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Books</title>

    <link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet" media="screen" />
    <link href="webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          rel="stylesheet" media="screen" />

</head>
<body>
<script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<div class="panel panel-default" style="margin: 10px">
    <div class="panel-heading">
        <h1 class="panel-title">Lista dos convidados</h1>
    </div>
    <div class="panel-body">

        <table class="table">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Qtd Acompanhantes</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.isbn}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.price}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>